#shill-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shill-card{
  border: 1px solid gray;
  padding: 5px;
  width: 30%;
}

.shill-card a{
  text-decoration: none;
}

.shill-card-img{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  height: 200px;
}

.shill-title{
  font-size: 1rem;
}

.shill-description{
  height: 100px;
  overflow: scroll;
}

