#shill-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -6vw;
}

.shill-card{
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
}

.shill-card:hover .shill-info{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  height: inherit;
  color: white;
  text-align: center;
  
}

.shill-info{
  display: none;
}

.shill-title{
  font-size: 12px;
  font-weight: normal;
}